@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/******************************************* VARIABLE COULEURS ********************************************/

:root {
  --color1: #bc93d5;
  --color2: #54ccc5;
  --color3: #f8c06f;
  --color4: #9ed351;
  --color5: #009aa3;
  --color6: #004f73;
  --color7: #6f6f6e;
  --color8: #f5f5f5;
  --color9: #d6d5d5;
}

/******************************************************* BODY/FONTS **************************************************************/

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************************************************** NAVBAR ***********************************************************/

header {
  position: relative;
  background: url(./img/1ere_image.jpg) center/cover;
  height: 100vh;
}

.navBar {
  background-color: white;
  position: absolute;
  transform: translateY(86px);
  height: 20vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " logo logo   galerie galerie galerie galerie galerie galerie  galerie liBlog liContact liCampus "
    "logo logo    liDesign liDesign  liDev liChef liChef liGraph liGraph liBlog liContact  liCampus";
}

.galerie {
  margin-left: auto;
  margin-right: auto;
  grid-area: galerie;
  padding-top: 20px;
  font-weight: 39px;
  font-size: 1.8em;
}

#galerie_style {
  font-weight: bolder;
}

.logo_nav {
  margin: auto 0 auto 10%;
  grid-area: logo;
  width: 30vh;
}

.liDesign {
  margin-left: 50%;
  grid-area: liDesign;
  text-align: center;
}
.liDev {
  margin-left: 45%;
  grid-area: liDev;
  text-align: center;
}
.liChef {
  margin-left: 27%;
  grid-area: liChef;
  text-align: center;
}
.liGraph {
  margin-left: 10%;
  grid-area: liGraph;
  text-align: center;
}
.liBlog {
  margin-left: 20%;
  grid-area: liBlog;
  padding-top: 20%;
}
.liContact {
  grid-area: liContact;
  padding-top: 20%;
}

.liCampus {
  grid-area: liCampus;
  padding-top: 20%;
  margin-right: 30%;
}
#lien_nav {
  text-decoration: none;
  font-size: 1em;
  color: var(--color7);
  font-weight: bolder;
}

#lien_galerie {
  text-decoration: none;
  font-size: 1em;
  color: var(--color6);
  font-weight: bolder;
  text-transform: uppercase;
}

#title_galery {
  /* height: 100vh; */
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(46, 72, 82, 0.46) 0%,
    rgba(46, 72, 82, 0.72) 100%
  );
}

h1 {
  transform: translateY(70vh);
  font-family: "Roboto", sans-serif;
  font-size: 100em;
  color: #f1f1f1;
  justify-content: center;
}
/**************************** FIL ARIANNE **************/
.arianne {
  margin-left: 40px;
  position: absolute;
  transform: translateY(30vh);
}
ul.arianne {
  /* background: white; */
  padding: 10px 16px;
  list-style: none;
  border-radius: 10px solid;
}

ul.arianne li {
  display: inline;
  font-size: 14px;
}

ul.arianne li + li:before {
  padding: 8px;
  color: white;
  content: ">\00a0";
}

ul.arianne li a {
  color: white;
  text-decoration: none;
}

ul.arianne li a:hover {
  color: #01447e;
  text-decoration: none;
}
/******************************************************** NAV BAR END  *****************************************************************/

/***************************************************** A FILTER RIGHT TAB **************************************************************/

a {
  text-decoration: none;
  font-size: 1em;
  color: rgb(145, 145, 145);
}

.filtrer {
  padding: 5% 0 0 16%;
  color: #009aa3;
  font-size: 15px;
}

.rightTab {
  padding: 15px 0 0 16%;
}

/*********************************************** CARDS ****************************************************/

#link-blog {
  padding: 0 15%;
}

#link-blog .card {
  border-radius: 20px;
}

#link-blog a {
  text-decoration: none;
  color: unset;
}

.card {
  box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.8);
}

.card-text {
  color: var(--color5);
}

.img_container {
  overflow: hidden;
  border-radius: 10px;
}
.img_container {
  overflow: hidden;
  border-radius: 10px;
}
.card img {
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.05);
}

/********************************************** PAGINATION ***********************************************/

.pagination {
  justify-content: center;
  margin: 20px 0 80px 0;
}

/*********************************************** FOOTER **************************************************/

footer {
  height: auto;
  background: var(--color6);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
  padding: 60px 20px;
  position: relative;
}

footer > div:nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_footer img {
  width: 200px;
  object-fit: cover;
  padding-bottom: 10px;
}

.logo_footer a {
  padding-bottom: 20px;
}

.legal a {
  margin-top: 5%;
}

#infos {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid var(--color2);
}

.contact {
  max-height: 152px;
  min-width: 186px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact h4 {
  font-size: 1.1rem;
  padding-bottom: 20px;
}

#contacts > div:nth-child(1) {
  padding-bottom: 66px;
}

svg:not(footer svg) {
  height: 15px;
  width: 15px;
  color: black;
}

footer a {
  height: 15px;
  color: var(--color8);
  text-decoration: none;
}

footer a:hover {
  color: var(--water-blue);
}

#contact_bordeaux,
#contact_libourne {
  width: 29%;
}

#contacts h4 {
  padding-bottom: 0;
}
.texte_adresse {
  font-size: 1em;
}
.texte_tel {
  font-size: 1em;
}
/**********  ICON SOCIAL *************/

#icons_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icons_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--color7);
}

#icons_social svg {
  height: 15px;
}

/* **************** FOOTER ***********************  */

footer {
  height: auto;
  background: var(--color6);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
  padding: 60px 20px;
  position: relative;
}

footer > div:nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_footer img {
  width: 200px;
  object-fit: cover;
  padding-bottom: 10px;
}

.logo_footer a {
  padding-bottom: 20px;
}

.legal a {
  margin-top: 5%;
}

#infos {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid var(--color2);
}

.contact {
  max-height: 152px;
  min-width: 186px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact h4 {
  font-size: 1.1rem;
  padding-bottom: 20px;
}

#contacts > div:nth-child(1) {
  padding-bottom: 66px;
}

svg:not(footer svg) {
  height: 15px;
  width: 15px;
  color: black;
}

footer a {
  height: 15px;
  color: var(--color8);
  text-decoration: none;
}

footer a:hover {
  color: var(--water-blue);
}

#contact_bordeaux,
#contact_libourne {
  width: 29%;
}

#contacts h4 {
  padding-bottom: 0;
}
.texte_adresse {
  font-size: 1em;
}
.texte_tel {
  font-size: 1em;
}
/**********  ICON SOCIAL *************/

#icons_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icons_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--color7);
}

#icons_social svg {
  height: 15px;
}

/* **************** FOOTER ***********************  */
footer {
  height: auto;
  background: var(--color6);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
  padding: 60px 20px;
  position: relative;
  flex-direction: column;
}

footer > div:nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_footer img {
  width: 200px;
  object-fit: cover;
  padding-bottom: 10px;
}

.logo_footer a {
  padding-bottom: 20px;
}

.legal a {
  margin-top: 5%;
}

#infos {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-left: none;
}

.contact {
  text-align: center;
  height: 20%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  font-size: 0.4em;
}

.contact h4 {
  font-size: 1.1rem;
}
.texte_adresse {
  font-size: 1.7em;
}
.texte_tel {
  font-size: 3em;
}

svg:not(footer svg) {
  height: 15px;
  width: 15px;
  color: black;
}

footer a {
  height: 15px;
  color: var(--color8);
  text-decoration: none;
}

footer a:hover {
  color: var(--water-blue);
}

#contacts h4 {
  padding-bottom: 0;
}

@media screen and (max-width: 575px) {
  .container1 {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "quatre"
      "designPict"
      "designText"
      "devPict"
      "devText"
      "chefPict "
      "chefText"
      "graphPict"
      "graphText "
      "manque";
  }
  .bg1 {
    display: none;
  }
  .navBar {
    gap: 3%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.7fr 0.7fr 0.7fr;
    grid-template-areas: " logo  galerie  liBlog liContact liCampus ";
  }

  .logo_nav {
    margin-right: 10%;
    grid-area: logo;
    height: 11vh;
    width: 13vh;
  }
}
@media screen and (max-width: 376px) {
  .designPict,
  .devPict,
  .chefPict,
  .graphPict {
    max-width: 375px;
  }
  .lien_pict_design,
  .lien_pict_dev,
  .lien_chef_pict,
  .lien_graph_pict {
    max-width: 375px;
  }

  #lien_nav {
    margin: 0;
    padding: 0;
  }
  .quatre {
    margin-left: 0;
    padding: 0;
    max-width: 375px;
  }

  .graphText,
  .designText,
  .chefText,
  .devText {
    padding: 0;
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .rose,
  .turquoise,
  .jaune,
  .vert {
    max-width: 375px;
  }
  p {
    max-width: 375px;
  }
  .manque {
    padding: 0;
  }

  footer {
    padding: 0;
  }
  .svg_manque {
    margin: 0;
  }
  #contact_bordeaux,
  #contact_libourne {
    min-width: 69%;
  }
}

/**************** FOOTER responsive ***********************/

@media screen and (max-width: 1400px) {
  footer {
    height: auto;
    background: var(--color6);
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
  }

  footer > div:nth-child(1) {
    height: 38vh;
  }

  .logo_footer img {
    width: 30vh;
    object-fit: cover;
    padding-bottom: 10%;
    vertical-align: top;
  }

  .logo_footer a {
    padding-bottom: 20px;
  }

  .legal a {
    margin-top: 5%;
  }

  #infos {
    width: 60%;
    flex-direction: wrap;
    align-items: center;
    display: flex;
    border-left: 1px solid var(--color2);
    justify-content: space-around;
    font-size: 1em;
  }

  .contact h4 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }

  #contacts {
    flex-direction: row;
    font-size: 1em;
    justify-content: space-around;
    width: 100%;
  }

  svg:not(footer svg) {
    height: 15px;
    width: 15px;
    color: black;
  }

  footer a {
    height: 15px;
    color: var(--color8);
    text-decoration: none;
  }

  footer a:hover {
    color: var(--color5);
  }

  #contact_bordeaux,
  #contact_libourne {
    width: 39%;
  }

  #contacts h4 {
    padding-bottom: 0;
  }

  #contacts > div:nth-child(1) {
    padding-top: 15%;
  }
  .texte_adresse {
    font-size: 1em;
  }
  .texte_tel {
    font-size: 1em;
  }
  #icons_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    padding-top: 15%;
  }

  .icons_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background: var(--color7);
  }

  #icons_social svg {
    height: 2.5vh;
  }
}
@media screen and (max-width: 1000px) {
  footer {
    height: auto;
    background: var(--color6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: relative;
    flex-direction: column;
  }

  footer > div:nth-child(1) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo_footer img {
    align-items: center;
    width: 40vh;
    object-fit: cover;
    vertical-align: bottom;
  }

  .logo_footer a {
    padding-bottom: 0;
  }

  .legal a {
    margin-top: 5%;
  }

  #infos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-left: none;
  }

  .contact {
    text-align: center;
    height: 20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact {
    font-size: 0.4em;
  }

  .contact h4 {
    font-size: 1.1rem;
  }
  .texte_adresse {
    font-size: 1.7em;
  }
  .texte_tel {
    font-size: 2em;
  }

  svg:not(footer svg) {
    height: 15px;
    width: 15px;
    color: black;
  }

  footer a {
    height: 15px;
    color: var(--color8);
    text-decoration: none;
  }

  footer a:hover {
    color: var(--water-blue);
  }

  #contact_bordeaux,
  #contact_libourne {
    width: 29%;
  }

  #contacts h4 {
    margin-bottom: 0%;
    font-size: 2em;
  }
  #contacts h4 p {
    font-size: 1em;
  }
  #icons_social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    padding-top: 15%;
  }

  .icons_social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background: var(--color7);
  }

  #icons_social svg {
    height: 2.5vh;
  }
}
